repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-added-large-files
-   repo: https://github.com/PyCQA/isort
    rev: 5.12.0
    hooks:
    -   id: isort
        types: [python]
        args: ["--profile", "black"]
-   repo: https://github.com/psf/black
    rev: 23.7.0
    hooks:
    -   id: black
        types: [python]
        args: ["--target-version", "py311"]
-   repo: https://github.com/PyCQA/flake8
    rev: 6.1.0
    hooks:
    -   id: flake8
        types: [python]
        args:
          - "--extend-ignore=E501"
