  <!DOCTYPE html>
<html lang="en" data-bs-theme="light">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://sentinel.co/favicon.ico" rel="shortcut icon">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.5/font/bootstrap-icons.min.css" integrity="sha512-ZnR2wlLbSbr8/c9AgLg3jQPAattCUImNsae6NHYnS9KrIwRdcY9DxFotXhNAKIKbAXlRnujIqUWoXXwqyFOeIQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/jquery.json-viewer@1.5.0/json-viewer/jquery.json-viewer.min.css">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery.json-viewer@1.5.0/json-viewer/jquery.json-viewer.min.js"></script>

    <title>{% block title %} {% endblock %} | NodeSpawner</title>

    <style>
      #spinner:not([hidden]) {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      #spinner::after {
        content: "";
        width: 80px;
        height: 80px;
        border: 2px solid #f3f3f3;
        border-top: 3px solid #006eff;
        border-radius: 100%;
        will-change: transform;
        animation: spin 1s infinite linear;
      }

      @keyframes spin {
        from { transform: rotate(0deg); }
        to { transform: rotate(360deg); }
      }
    </style>
</head>

<div
  class="modal fade"
  id="messageModal"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Response</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" style="word-wrap: break-word;" id="messageModalBody"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onClick="window.location.reload();">Refresh</button>
      </div>
    </div>
  </div>
</div>

<body class="d-flex flex-column min-vh-100">
    <div class="container">
        <h4 class="display-4 text-primary"><i class="bi bi-node-plus"></i> NodeSpawner</h4>
        <div hidden id="spinner"></div>
        {% block content %} {% endblock %}
    </div>
    <br><br>
</body>

<footer class="footer mt-auto py-3">
  <div class="container">
    <div class="row">
      <div class="col d-flex flex-column justify-content-center">
        <span class="text-muted">Developer with <i class="bi bi-heart-fill text-danger"></i> by <a href="https://github.com/Tkd-Alex">Tkd-Alex</a></span>
      </div>
      <div class="col-1">
        <button id="toggleDarkMode" type="button" class="btn"><i class="bi bi-moon-fill"></i></button>
      </div>
    </div>
  </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

<script>
  const toggleDarkMode = document.getElementById('toggleDarkMode')
  toggleDarkMode.addEventListener('click',() =>{
    if (document.documentElement.getAttribute('data-bs-theme') == 'dark') {
      document.documentElement.setAttribute('data-bs-theme','light')
      toggleDarkMode.innerHTML = '<i class="bi bi-moon-fill"></i>'
    }
    else {
      document.documentElement.setAttribute('data-bs-theme','dark')
      toggleDarkMode.innerHTML = '<i class="bi bi-sun-fill"></i>'
    }
})
</script>

</html>