<form id="{{ 'configForm-' + containerId[:12] if containerId is defined else 'configForm'}}">
    {% for header in config %}
        <div class="row">
            <h5><i class="bi bi-caret-right-fill"></i> [{{ header }}]</h5>
            {% for key in config[header] %}
                <div class="form-group col-6">
                    <label for="{{key}}-id">{{ key }} - <small class="form-text text-muted">{{config[header][key].description}}</small></label>
                    {% if 'options' in config[header][key] %}
                    <select
                        class="form-control"
                        name="{{header}}.{{key}}"
                        {{ 'disabled' if containerId is defined and key in readonly_values else '' }}
                        id="{{key}}-id"
                        placeholder="{{key}}"
                    >
                        {% for option in config[header][key]['options'] %}
                        <option {{ 'selected' if config[header][key].value == option else '' }} value="{{option}}">{{option}}</option>
                        {% endfor %}
                    </select>
                    {% elif config[header][key].value is number %}
                        <input
                            type="number"
                            class="form-control"
                            name="{{header}}.{{key}}"
                            {{ 'disabled' if containerId is defined and key in readonly_values else '' }}
                            id="{{key}}-id"
                            placeholder="{{key}}"
                            value="{{config[header][key].value}}"
                        >
                    {% else %}
                        <input
                            type="text"
                            class="form-control"
                            name="{{header}}.{{key}}"
                            {{ 'disabled' if containerId is defined and key in readonly_values else '' }}
                            id="{{key}}-id"
                            placeholder="{{key}}"
                            value="{{config[header][key].value}}"
                        >
                    {% endif %}
                </div>
            {% endfor %}
        </div>
        <br>
    {% endfor %}
    <button type="submit" class="btn btn-primary my-1">{{ 'Save configuration' if containerId is defined else 'Spawn new node' }}</button>
</form>

<script>
    {% if containerId is defined %}
        const containerId = '{{ containerId }}';
    {% else %}
        const containerId = null;
    {% endif %}

    const serverId = '{{ server_info._id }}'
    const formId = containerId === null ? "configForm" : `configForm-${containerId.slice(0,12)}`

    document.getElementById(formId).addEventListener('submit', event => {
        event.preventDefault();
        const myFormData = new FormData(event.target);
        const formDataObj = Object.fromEntries(myFormData.entries());
        formDataObj.action = containerId == null ? "create-node" : "update-node-conf"
        const url = containerId == null ? window.location.href : `/api/server/${serverId}/${containerId}`
        $("#spinner").removeAttr('hidden');
        fetch(url, {
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            method: "POST",
            body: JSON.stringify(formDataObj)
        })
        .then((response) => response.text())
        .then((data)=> {
            console.log(data);
            $("#spinner").attr("hidden", true);

            $("#messageModalBody").html(data)
            new bootstrap.Modal($("#messageModal"), {}).show();
        })
        .catch((error) => { console.log(error); $("#spinner").attr("hidden", true); })
    });
</script>
