{% extends 'base.html' %}

{% block content %}
    <h3>{% block title %} Server {% endblock %}</h3>
    <h4 class="text-primary">#{{ server_info._id }} - {{ server_info.username }}@{{ server_info.host }} -p {{ server_info.port }}</h4>
    <div class="row">
        <div class="col-9">
            <span><i class="bi {{ 'bi-check-circle-fill text-success' if server_info.docker_installed == true else 'bi-x-circle-fill text-danger' }}"></i>  Docker installed</span><br>
            <span><i class="bi {{ 'bi-check-circle-fill text-success' if server_info.sudoers_permission == true else 'bi-x-circle-fill text-danger' }}"></i>  Sudoers permission</span><br>
            <span><i class="bi bi-images"></i>  Docker images: {{ ', '.join(server_info.docker_images) }}</span><br>
            <span><i class="bi bi-stack"></i>  Other requirements:
                {% for requirement in server_info.requirements %}
                    <!-- [{{ requirement }} <i class="bi {{ 'bi-check-circle-fill text-success' if server_info.requirements[requirement] == true else 'bi-x-circle-fill text-danger' }}"></i>] -->
                    <span class="badge {{ 'bg-success' if server_info.requirements[requirement] == true else 'bg-danger' }}">
                        {{ requirement }}
                        <!-- <i class="bi {{ 'bi-check-circle-fill' if server_info.requirements[requirement] == true else 'bi-x-circle-fill' }}"></i> -->
                    </span>
                {% endfor %}
            </span>
        </div>
        <div class="col-3">
            <div class="d-grid gap-2">
                <!-- <button
                    onclick="dockerAction('install')"
                    class="btn btn-outline-info btn-sm"
                    {{ 'disabled' if server_info.docker_installed == true else '' }}
                    type="button">
                    <i class="bi bi-gear-fill"></i> Install docker
                </button> -->

                <div class="btn-group" role="group">
                    <button type="button" disabled class="btn btn-outline-info btn-sm"><i class="bi bi-gear-fill"></i> Install</button>
                    <button type="button" onclick="dockerAction('install')" {{ 'disabled' if server_info.docker_installed == true else '' }} class="btn btn-outline-info btn-sm"">Docker</button>
                    <button type="button" onclick="dockerAction('requirements')" {{ 'disabled' if server_info.sudoers_permission == false else '' }}" class="btn btn-outline-info btn-sm"">Requirements</button>
                </div>

                <button
                    onclick="dockerAction('pull')"
                    class="btn btn-outline-info btn-sm"
                    {{ 'disabled' if server_info.docker_installed != true else '' }}
                    type="button"
                    ><i class="bi bi-cloud-arrow-down-fill"></i> Pull image
                </button>
            </div>
        </div>
    </div>

    <br>

    {% if server_info.docker_installed == true and server_info.docker_images | length != 0 and server_info.containers | length == 0 %}
        {% with config=default_node_config %}
            {% include "node-config.html" %}
        {% endwith %}
    {% endif %}

    {% for container in server_info.containers %}
        <table class="table">
            <thead>
                <tr>
                <th scope="col">CONTAINER ID</th>
                <th scope="col">IMAGE</th>
                <th scope="col">CREATED</th>
                <th scope="col">STATE</th>
                <th scope="col">STATUS</th>
                <th scope="col">NAMES</th>
                <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">{{ container.Id[:12] }}</th>
                    <td>{{ container.Image }}</td>
                    <td>{{ container.Created }}</td>
                    <td>{{ container.State }}</td>
                    <td>{{ container.Status }}</td>
                    <td>{{ ', '.join(container.Names) }}</td>
                    <td class="text-end">
                        <button
                            onclick="containerAction('{{ server_info._id }}', '{{ container.Id }}', 'restart')"
                            data-toggle="tooltip"
                            data-placement="top"
                            title="Restart"
                            class="btn btn-sm">
                            <i class="bi bi-arrow-clockwise"></i>
                        </button>
                        {% if container.State != 'running' and container.State != 'restarting' %}
                            <button
                                onclick="containerAction('{{ server_info._id }}', '{{ container.Id }}', 'start')"
                                data-toggle="tooltip"
                                data-placement="top"
                                title="Start"
                                class="btn btn-sm">
                                <i class="bi bi-play-circle"></i>
                            </button>
                        {% endif %}
                        {% if container.State == 'running' or container.State == 'restarting' %}
                            <button
                                onclick="containerAction('{{ server_info._id }}', '{{ container.Id }}', 'stop')"
                                data-toggle="tooltip"
                                data-placement="top"
                                title="Stop"
                                class="btn btn-sm">
                                <i class="bi bi-stop-circle"></i>
                            </button>
                        {% endif %}
                        {% if container.State == 'exited' %}
                        <button
                            onclick="containerAction('{{ server_info._id }}', '{{ container.Id }}', 'remove')"
                            data-toggle="tooltip"
                            data-placement="top"
                            title="Remove"
                            class="btn btn-sm">
                            <i class="bi bi-trash"></i>
                        </button>
                        {% endif %}
                    </td>
                </tr>
            </tbody>
        </table>

        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="config-tab" data-bs-target="{{ '#config-' + container.Id[:12] }}" aria-controls="config" data-bs-toggle="tab" type="button" role="tab" aria-selected="true">Node config</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="status-tab" data-bs-target="{{ '#status-' + container.Id[:12] }}" aria-controls="status" data-bs-toggle="tab" type="button" role="tab" aria-selected="false">Node status</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="logs-tab" data-bs-target="{{ '#logs-' + container.Id[:12] }}" aria-controls="logs" data-bs-toggle="tab" type="button" role="tab" aria-selected="false" onclick="containerLogs('{{ server_info._id }}', '{{ container.Id }}')">Node logs</button>
            </li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane fade show active" id="{{ 'config-' + container.Id[:12] }}" role="tabpanel" aria-labelledby="config-tab">
                <br>
                {% with config=container.NodeConfig, containerId=container.Id %}
                    {% include "node-config.html" %}
                {% endwith %}
            </div>
            <div class="tab-pane fade" id="{{ 'status-' + container.Id[:12] }}" role="tabpanel" aria-labelledby="status-tab">
                <pre id="json-renderer-{{ container.Id }}"></pre>
            </div>
            <div class="tab-pane fade" id="{{ 'logs-' + container.Id[:12] }}" role="tabpanel" aria-labelledby="logs-tab">
                <div style="max-height: 700px; overflow-y: auto; padding: 15px" id="node-logs-{{ container.Id }}"></div>
            </div>
        </div>

        <script>
            var data = JSON.parse('{{ container["NodeStatus"] | tojson}}')
            $("#json-renderer-{{ container.Id }}").jsonViewer(data, {collapsed: false, withQuotes: true, withLinks: true});
        </script>
    {% endfor %}

    <script>
        function containerAction(server_id, containerId, action) {
            $("#spinner").removeAttr('hidden');
            fetch(`/api/server/${server_id}/${containerId}`, {
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                method: "POST",
                body: JSON.stringify({action: action})
            })
            .then((response) => response.text())
            .then((data)=> {
                console.log(data);
                $("#spinner").attr("hidden", true);

                $("#messageModalBody").html(data)
                new bootstrap.Modal($("#messageModal"), {}).show();
            })
            .catch((error) => { console.log(error); $("#spinner").attr("hidden", true); })
        }

        function containerLogs(server_id, containerId) {
            $("#spinner").removeAttr('hidden');
            fetch(`/api/server/${server_id}/${containerId}`, {
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                method: "POST",
                body: JSON.stringify({action: "logs"})
            })
            .then((response) => response.text())
            .then((data)=> {
                console.log(data);
                $("#spinner").attr("hidden", true);
                const logsDiv = $(`#node-logs-${containerId}`)
                logsDiv.html(data)
                logsDiv.scrollTop(logsDiv.prop("scrollHeight"));
            })
            .catch((error) => { console.log(error); $("#spinner").attr("hidden", true); })
        }

        function dockerAction(action) {
            $("#spinner").removeAttr('hidden');
            fetch(window.location.href, {
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                method: "POST",
                body: JSON.stringify({action: action})
            })
            .then((response) => response.text())
            .then((data)=> {
                console.log(data);
                $("#spinner").attr("hidden", true);

                $("#messageModalBody").html(data)
                new bootstrap.Modal($("#messageModal"), {}).show();
            })
            .catch((error) => { console.log(error); $("#spinner").attr("hidden", true); })
        }
    </script>
{% endblock %}
