{% extends 'base.html' %}

{% block content %}
    <h3>{% block title %} Server {% endblock %}</h3>
    <h4 class="text-primary">#{{ server_info._id }} - {{ server_info.username }}@{{ server_info.host }} -p {{ server_info.port }}</h4>
    <div class="row">
        <div class="col-9">
            <span>
                {% if server_info.docker_warning %}
                    <i class="bi bi-exclamation-triangle-fill text-warning" data-toggle="tooltip" data-placement="top" title="{{ server_info.docker_warning }}"></i> Docker warning
                {% else %}
                    <i class="bi {{ 'bi-check-circle-fill text-success' if server_info.docker_installed == true else 'bi-x-circle-fill text-danger' }}"></i>  Docker installed
                {% endif %}
            </span><br>
            <span><i class="bi {{ 'bi-check-circle-fill text-success' if server_info.sudoers_permission == true else 'bi-x-circle-fill text-danger' }}"></i>  Sudoers permission</span><br>
            <span><i class="bi bi-images"></i>  Docker images: {{ ', '.join(server_info.docker_images) }}</span><br>
            <span><i class="bi bi-stack"></i>  Other requirements:
                {% for requirement in server_info.requirements %}
                    <span class="badge {{ 'bg-success' if server_info.requirements[requirement] == true else 'bg-danger' }}">
                        {{ requirement }}
                    </span>
                {% endfor %}
            </span><br>
            <span><i class="bi bi-cpu-fill"></i>  Architecture: {{ server_info.os_architecture }}</span><br>
        </div>
        <div class="col-3">
            <div class="d-grid gap-2">
                <div class="btn-group" role="group">
                    <button type="button" disabled class="btn btn-outline-info btn-sm"><i class="bi bi-gear-fill"></i> Install</button>
                    <button type="button" onclick="serverAction('install')" {{ 'disabled' if server_info.docker_installed == true else '' }} class="btn btn-outline-info btn-sm"">Docker</button>
                    <button type="button" onclick="serverAction('requirements')" {{ 'disabled' if (server_info.sudoers_permission == false or server_info.requirements_all == true) else '' }} class="btn btn-outline-info btn-sm"">Requirements</button>
                </div>

                <div class="btn-group" role="group">
                    <button type="button" disabled class="btn btn-outline-info btn-sm"><i class="bi bi-card-image"></i> Image</button>
                    <button
                        onclick="serverAction('pull')"
                        class="btn btn-outline-info btn-sm"
                        {{ 'disabled' if server_info.docker_installed != true else '' }}
                        type="button">Pull</button>
                    <button
                        onclick="serverAction('build')"
                        class="btn btn-outline-info btn-sm"
                        {{ 'disabled' if server_info.docker_installed != true else '' }}
                        type="button">Build</button>
                </div>

                <div class="btn-group" role="group">
                    <button type="button" onclick="serverAction('benchmark')" {{ 'disabled' if server_info.requirements.curl == false else '' }} class="btn btn-outline-info btn-sm"><i class="bi bi-speedometer"></i> Benchmark (YABS)</button>
                </div>
            </div>
        </div>
    </div>

    <br>

    <table class="table">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">CONTAINER ID</th>
                <th scope="col">IMAGE</th>
                <th scope="col">CREATED</th>
                <th scope="col">STATE</th>
                <th scope="col">STATUS</th>
                <th scope="col">NAMES</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for container in server_info.containers %}
                <tr>
                    <th scope="row">
                        <button
                            onclick="selectContainer('{{ container.Id }}')"
                            data-toggle="tooltip"
                            data-placement="top"
                            title="Select"
                            class="btn btn-sm"
                            id="{{ 'btn-select-container-' + container.Id[:12] }}">
                            >
                            <i class="bi bi-toggle-off"></i>
                        </button>
                    </th>
                    <th scope="row">{{ container.Id[:12] }}</th>
                    <td>{{ container.Image }}</td>
                    <td>{{ container.Created }}</td>
                    <td>{{ container.State }}</td>
                    <td>{{ container.Status }}</td>
                    <td>{{ ', '.join(container.Names) }}</td>
                    <td class="text-end">
                        <button
                            onclick="containerAction('{{ server_info._id }}', '{{ container.Id }}', 'restart')"
                            data-toggle="tooltip"
                            data-placement="top"
                            title="Restart"
                            class="btn btn-sm">
                            <i class="bi bi-arrow-clockwise"></i>
                        </button>
                        {% if container.State != 'running' and container.State != 'restarting' %}
                            <button
                                onclick="containerAction('{{ server_info._id }}', '{{ container.Id }}', 'start')"
                                data-toggle="tooltip"
                                data-placement="top"
                                title="Start"
                                class="btn btn-sm">
                                <i class="bi bi-play-circle"></i>
                            </button>
                        {% endif %}
                        {% if container.State == 'running' or container.State == 'restarting' %}
                            <button
                                onclick="containerAction('{{ server_info._id }}', '{{ container.Id }}', 'stop')"
                                data-toggle="tooltip"
                                data-placement="top"
                                title="Stop"
                                class="btn btn-sm">
                                <i class="bi bi-stop-circle"></i>
                            </button>
                        {% endif %}
                        {% if container.State == 'exited' %}
                        <button
                            onclick="containerAction('{{ server_info._id }}', '{{ container.Id }}', 'remove')"
                            data-toggle="tooltip"
                            data-placement="top"
                            title="Remove"
                            class="btn btn-sm">
                            <i class="bi bi-trash"></i>
                        </button>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            {% if server_info.docker_installed == true and server_info.docker_images | length != 0 %}
                <tr>
                    <th scope="row">
                        <button
                            onclick="selectContainer(null)"
                            data-toggle="tooltip"
                            data-placement="top"
                            title="Select"
                            class="btn btn-sm"
                            id="btn-select-container-null">
                            <i class="bi bi-toggle-off"></i>
                        </button>
                    </th>
                    <th scope="row">New dvpn-node</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="text-end"></td>
                </tr>
            {% endif %}
        </tbody>
    </table>

    {% for container in server_info.containers %}
        <div id="{{ 'container-block-' + container.Id[:12] }}" hidden>
            <br>
            <h5>{{ container.Id[:12] }} ( {{ ', '.join(container.Names) }} )</h5>
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="config-tab" data-bs-target="{{ '#config-' + container.Id[:12] }}" aria-controls="config" data-bs-toggle="tab" type="button" role="tab" aria-selected="true">Config</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="status-tab" data-bs-target="{{ '#status-' + container.Id[:12] }}" aria-controls="status" data-bs-toggle="tab" type="button" role="tab" aria-selected="false">Status</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="health-tab" data-bs-target="{{ '#health-' + container.Id[:12] }}" aria-controls="health" data-bs-toggle="tab" type="button" role="tab" aria-selected="false">Health</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="logs-tab" data-bs-target="{{ '#logs-' + container.Id[:12] }}" aria-controls="logs" data-bs-toggle="tab" type="button" role="tab" aria-selected="false" onclick="containerLogs('{{ server_info._id }}', '{{ container.Id }}')">Logs</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="subscriptions-tab" data-bs-target="{{ '#subscriptions-' + container.Id[:12] }}" aria-controls="subscriptions" data-bs-toggle="tab" type="button" role="tab" aria-selected="false">Subscriptions</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="stats-tab" data-bs-target="{{ '#stats-' + container.Id[:12] }}" aria-controls="stats" data-bs-toggle="tab" type="button" role="tab" aria-selected="false">Stats</button>
                </li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane fade show active" id="{{ 'config-' + container.Id[:12] }}" role="tabpanel" aria-labelledby="config-tab">
                    <br>
                    {% with config=container.NodeConfig, containerId=container.Id %}
                        {% include "node-config.html" %}
                    {% endwith %}
                </div>
                <div class="tab-pane fade" id="{{ 'status-' + container.Id[:12] }}" role="tabpanel" aria-labelledby="status-tab">
                    <br>
                    <pre id="json-status-renderer-{{ container.Id }}"></pre>
                </div>
                <div class="tab-pane fade" id="{{ 'health-' + container.Id[:12] }}" role="tabpanel" aria-labelledby="health-tab">
                    <br>
                    <pre id="json-health-renderer-{{ container.Id }}"></pre>
                </div>
                <div class="tab-pane fade" id="{{ 'logs-' + container.Id[:12] }}" role="tabpanel" aria-labelledby="logs-tab">
                    <br>
                    <div style="max-height: 700px; overflow-y: auto; padding: 15px" id="node-logs-{{ container.Id }}"></div>
                </div>
                <div class="tab-pane fade" id="{{ 'subscriptions-' + container.Id[:12] }}" role="tabpanel" aria-labelledby="subscriptions-tab">
                    <br>
                    {% if container["SentNode"] is not none %}
                        <p>Subscriptions for: <a href="https://map.sentinel.co/nodes/{{ container['SentNode'] }}" target="_blank">{{ container["SentNode"] }}</a> are scraped from chain</p>
                    {% endif %}
                    <div>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Address</th>
                                    <th scope="col">Inactive at</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Status at</th>
                                    <th scope="col">Gigabytes / Hours</th>
                                    <th scope="col">Deposit</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for subscription in container.NodeSubscriptions %}
                                <tr>
                                    <th scope="row">{{ subscription.id }}</th>
                                    <td><a href="https://www.mintscan.io/sentinel/address/{{ subscription.address }}" target="_blank" rel="noopener noreferrer">{{ subscription.address }}</a></td>
                                    <td>{{ subscription.inactive_at }}</td>
                                    <td>{{ subscription.status }}</td>
                                    <td>{{ subscription.status_at }}</td>
                                    {% if subscription.gigabytes != 0 %}
                                        <td class="text-end">{{ subscription.gigabytes }} GB</td>
                                    {% else %}
                                        <td class="text-end">{{ subscription.hours }} HR</td>
                                    {% endif %}
                                    <td class="text-end">{{ subscription.deposit.amount }} {{ subscription.deposit.denom }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tab-pane fade" id="{{ 'stats-' + container.Id[:12] }}" role="tabpanel" aria-labelledby="stats-tab">
                    <br>
                    {% if container["SentNode"] is not none %}
                        <p>Current stats for: <a href="https://map.sentinel.co/nodes/{{ container['SentNode'] }}" target="_blank">{{ container["SentNode"] }}</a> are taken from: <a href="https://nodes.sentinel.co/" target="_blank">https://nodes.sentinel.co/</a></p>
                    {% endif %}
                    {% if 'global' in container["NodeStatistics"] %}
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    <h4>Global Stats</h4>
                                    <div class="row">
                                        <div class="col-4">
                                            <h5>Earnings</h5>
                                            <p class="mb-0">From bytes: <b>{{ container["NodeStatistics"]["global"]["earnings_bytes"] }}</b></p>
                                            <p class="mb-0">From hours: <b>{{ container["NodeStatistics"]["global"]["earnings_hours"] }}</b></p>
                                            <p class="mb-0">Total: <b>{{ container["NodeStatistics"]["global"]["earnings"] }}</b></p>
                                        </div>
                                        <div class="col-4">
                                            <h5>Bandwidth provided</h5>
                                            <p class="mb-0">Upload: <b>&uarr; {{ container["NodeStatistics"]["global"]["upload"] }}</b></p>
                                            <p class="mb-0">Download: <b>&darr; {{ container["NodeStatistics"]["global"]["download"] }}</b></p>
                                            <p class="mb-0">Total: <b>{{ container["NodeStatistics"]["global"]["bandwidth"] }}</b></p>
                                        </div>
                                        <div class="col-4">
                                            <h5>Other data</h5>
                                            <p class="mb-0">Unique users: <b>{{ container["NodeStatistics"]["global"]["session_address"] }}</b></p>
                                            <p class="mb-0">Active sessions: <b>{{ container["NodeStatistics"]["global"]["active_session"] }}</b></p>
                                            <p class="mb-0">Active subscritions: <b>{{ container["NodeStatistics"]["global"]["active_subscription"] }}</b></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    {% endif %}
                    <div class="row">
                        <div class="col-4">
                            <div class="card">
                                <div class="card-body">
                                    <h4>Today Stats</h4>
                                    {% if 'day' in container["NodeStatistics"] %}
                                        <p class="mb-0">Earnings: <b>{{ container["NodeStatistics"]["day"]["earnings"] }}</b></p>
                                        <p class="mb-0">Bandwidth provided: <b>{{ container["NodeStatistics"]["day"]["bandwidth"] }}</b></p>
                                        <p class="mb-0">Unique users: <b>{{ container["NodeStatistics"]["day"]["session_address"] }}</b></p>
                                        <p class="mb-0">Active sessions: <b>{{ container["NodeStatistics"]["day"]["active_session"] }}</b></p>
                                        <p class="mb-0">Active subscritions: <b>{{ container["NodeStatistics"]["day"]["active_subscription"] }}</b></p>
                                    {% else %}
                                        <p class="mb-0">Earnings: <b>N/A</b></p>
                                        <p class="mb-0">Bandwidth provided: <b>N/A</b></p>
                                        <p class="mb-0">Unique users: <b>N/A</b></p>
                                        <p class="mb-0">Active sessions: <b>N/A</b></p>
                                        <p class="mb-0">Active subscritions: <b>N/A</b></p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="card">
                                <div class="card-body">
                                    <h4>This Week Stats</h4>
                                    {% if 'week' in container["NodeStatistics"] %}
                                        <p class="mb-0">Earnings: <b>{{ container["NodeStatistics"]["week"]["earnings"] }}</b></p>
                                        <p class="mb-0">Bandwidth provided: <b>{{ container["NodeStatistics"]["week"]["bandwidth"] }}</b></p>
                                        <p class="mb-0">Unique users: <b>{{ container["NodeStatistics"]["week"]["session_address"] }}</b></p>
                                        <p class="mb-0">Active sessions: <b>{{ container["NodeStatistics"]["week"]["active_session"] }}</b></p>
                                        <p class="mb-0">Active subscritions: <b>{{ container["NodeStatistics"]["week"]["active_subscription"] }}</b></p>
                                    {% else %}
                                        <p class="mb-0">Earnings: <b>N/A</b></p>
                                        <p class="mb-0">Bandwidth provided: <b>N/A</b></p>
                                        <p class="mb-0">Unique users: <b>N/A</b></p>
                                        <p class="mb-0">Active sessions: <b>N/A</b></p>
                                        <p class="mb-0">Active subscritions: <b>N/A</b></p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="card">
                                <div class="card-body">
                                    <h4>This Month Stats</h4>
                                    {% if 'month' in container["NodeStatistics"] %}
                                        <p class="mb-0">Earnings: <b>{{ container["NodeStatistics"]["month"]["earnings"] }}</b></p>
                                        <p class="mb-0">Bandwidth provided: <b>{{ container["NodeStatistics"]["month"]["bandwidth"] }}</b></p>
                                        <p class="mb-0">Unique users: <b>{{ container["NodeStatistics"]["month"]["session_address"] }}</b></p>
                                        <p class="mb-0">Active sessions: <b>{{ container["NodeStatistics"]["month"]["active_session"] }}</b></p>
                                        <p class="mb-0">Active subscritions: <b>{{ container["NodeStatistics"]["month"]["active_subscription"] }}</b></p>
                                    {% else %}
                                        <p class="mb-0">Earnings: <b>N/A</b></p>
                                        <p class="mb-0">Bandwidth provided: <b>N/A</b></p>
                                        <p class="mb-0">Unique users: <b>N/A</b></p>
                                        <p class="mb-0">Active sessions: <b>N/A</b></p>
                                        <p class="mb-0">Active subscritions: <b>N/A</b></p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <script>
                var data = JSON.parse('{{ container["NodeStatus"] | tojson}}')
                $("#json-status-renderer-{{ container.Id }}").jsonViewer(data, {collapsed: false, withQuotes: true, withLinks: true});

                var data = JSON.parse('{{ container["NodeHealth"] | tojson}}')
                $("#json-health-renderer-{{ container.Id }}").jsonViewer(data, {collapsed: false, withQuotes: true, withLinks: true});
            </script>
        </div>
    {% endfor %}

    {% if server_info.docker_installed == true and server_info.docker_images | length != 0 %}
        <div id="container-block-null" hidden>
            <br>
            <h5>New dvpn-node</h5>
            {% with config=default_node_config %}
                {% include "node-config.html" %}
            {% endwith %}
        </div>
    {% endif %}

    <script>
        async function spawnModal(htmlMessage) {
            const messageModalBody = $("#messageModalBody")
            messageModalBody.html(htmlMessage);
            new bootstrap.Modal($("#messageModal"), {}).show();

            await new Promise(r => setTimeout(r, 300));;
            messageModalBody.scrollTop(messageModalBody.prop("scrollHeight"));
        }

        function containerAction(server_id, containerId, action) {
            $("#spinner").removeAttr('hidden');
            fetch(`/api/server/${server_id}/${containerId}`, {
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                method: "POST",
                body: JSON.stringify({action: action})
            })
            .then((response) => response.text())
            .then((data) => {
                console.log(data);
                $("#spinner").attr("hidden", true);
                spawnModal(data);
            })
            .catch((error) => { console.log(error); $("#spinner").attr("hidden", true); })
        }

        function containerLogs(server_id, containerId) {
            $("#spinner").removeAttr('hidden');
            fetch(`/api/server/${server_id}/${containerId}`, {
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                method: "POST",
                body: JSON.stringify({action: "logs"})
            })
            .then((response) => response.text())
            .then((data) => {
                console.log(data);
                $("#spinner").attr("hidden", true);
                const logsDiv = $(`#node-logs-${containerId}`)
                logsDiv.html(data)
                logsDiv.scrollTop(logsDiv.prop("scrollHeight"));
            })
            .catch((error) => { console.log(error); $("#spinner").attr("hidden", true); })
        }

        function serverAction(action) {
            $("#spinner").removeAttr('hidden');
            fetch(window.location.href, {
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                method: "POST",
                body: JSON.stringify({action: action})
            })
            .then((response) => response.text())
            .then((data) => {
                console.log(data);
                $("#spinner").attr("hidden", true);
                spawnModal(data);
            })
            .catch((error) => { console.log(error); $("#spinner").attr("hidden", true); })
        }

        {% if server_info.containers | length == 0 %}
            var selectedContainer = null;
        {% else %}
            var selectedContainer = '{{ server_info.containers[0].Id }}'
        {% endif %}

        function selectContainer(containerId){
            selectedContainer = containerId;
            toggleSelected();
        }

        function toggleSelected(){
            // const containerBlocks = document.querySelectorAll("div[id^='container-block-']")
            var selector = selectedContainer ? selectedContainer.slice(0, 12) : 'null';

            $('[id^="container-block-"]').each(function(){
                if ($( this ).attr('id').endsWith(selector)) $( this ).removeAttr('hidden');
                else $( this ).attr("hidden", true);
            })

            $('[id^="btn-select-container-"]').each(function(){
                $( this ).html(
                    $( this ).attr('id').endsWith(selector) ?
                    '<i class="bi bi-toggle-on"></i>' :
                    '<i class="bi bi-toggle-off"></i>'
                );
            })
        }
        toggleSelected();

    </script>
{% endblock %}
