{% extends 'base.html' %}

{% block content %}
    <h3>{% block title %} List {% endblock %}</h3>
    <table class="table">
        <thead>
            <tr>
            <th scope="col">#</th>
            <th scope="col">Host</th>
            <th scope="col">Username</th>
            <th scope="col">Password</th>
            <th scope="col">Port</th>
            <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for server in servers %}
            <tr>
                <th scope="row">{{ server._id }}</th>
                <td>{{ server.host }}</td>
                <td>{{ server.username }}</td>
                <td>{{ server.password }}</td>
                <td>{{ server.port }}</td>
                <td class="text-end">
                    <button
                        onclick="location.href='/server/{{server._id}}'"
                        data-toggle="tooltip"
                        data-placement="top"
                        title="Open"
                        class="btn btn-sm">
                        <i class="bi bi-arrow-up-right-square"></i>
                    </button>
                    <button
                        data-toggle="tooltip"
                        data-placement="top"
                        title="Delete"
                        class="btn btn-sm">
                        <i class="bi bi-trash"></i>
                    </button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <form method="post">
        <div class="row">
            <div class="col-3"><input type="text" class="form-control" name="host" placeholder="SSH Host"></div>
            <div class="col-3"><input type="text" class="form-control" name="username" placeholder="SSH Username"></div>
            <div class="col-3"><input type="password" class="form-control" name="password" placeholder="SSH Password"></div>
            <div class="col-2"><input type="number" class="form-control" name="port" value="22" placeholder="SSH Port"></div>
            <div class="col-1"><button type="submit" class="btn btn-primary"><i class="bi bi-save"></i> Save</button></div>
        </div>
    </form>
{% endblock %}
